@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#container-listar-emprestimos {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo-emprestimo {
    display: grid;
    grid-template-columns: 30% 24.5% 25%;
    width: 900px;
    margin-top: 15px;
    align-items: initial;
    margin-bottom: 30px;
    color: #363432;
    padding-left: 3px;
}

h2 {
    font: 700 18px "Roboto";
}

#info-emprestimo {
    width: 900px;
    display: grid;
    grid-template-columns: 30% 24.5% 25% 20.5%;
    background-color: #d5d6db;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
}

#nome-emprestimo {
    padding-left: 3px;
}

#isbn-emprestimo {
    display: flex;
    justify-content: center;
}

#qtdLivros-emprestimo {
    display: flex;
    justify-content: center;
}

button {
    border: none;
}

button:hover {
    opacity: 0.85;
}

#botoes-emprestimo {
    display: flex;
    justify-content: end;
}
#editar {
    background-color: #49a1f1;
    color: white;
    width: 75px;
    font: 700 14px "Roboto";
}

#devolver {
    background-color: #f14949;
    color: white;
    width: 80px;
    font: 700 14px "Roboto";
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#editar2 {
    background-color: #f06c6c;
    color: white;
    width: 75px;
    height: 30px;
    font: 700 14px "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
}

#devolvido {
    background-color: #68cf9d;
    color: white;
    width: 80px;
    height: 30px;
    font: 700 14px "Roboto";
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adiciona {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

h1 {
    font: 500 20px "Roboto";
    color: #34315e;
}

p {
    font: 400 14px "Roboto";
}
