@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#container-listar-exemplares {
    /* width: 80%; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    /* justify-content: center; */
    align-items: center;
}

#titulo-exemplar {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 29% 19.3% 25% 26.7%;
    /* grid-template-rows: 25% 25% 25% 25%; */
    width: 900px;
    margin-top: 15px;
    align-items: initial;
    margin-bottom: 30px;
    color: #363432;
    padding-left: 3px;
    /* background-color: darkgreen; */
}

h2 {
    font: 700 18px "Roboto";
}

#info-exemplar {
    width: 900px;
    display: grid;
    grid-template-columns: 30% 18.3% 25% 26.7%;

    background-color: #d5d6db;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 10px;
}

#nome-exemplar {
    padding-left: 3px;
}
#isbn-exemplar {
    display: flex;
    justify-content: center;
}
#qtd-exemplar {
    display: flex;
    justify-content: center;
}

button {
    height: 30px;
    border: none;
}

button:hover {
    opacity: 0.85;
}

#botoes {
    height: 30px;
    display: flex;
    justify-content: end;
}
#editar {
    background-color: #49a1f1;
    color: white;
    width: 75px;
    font: 700 14px "Roboto";
}

#remover-exemplar {
    background-color: #f14949;
    color: white;
    width: 80px;
    font: 700 14px "Roboto";
}

#emprestar {
    background-color: #68cf9d;
    color: #34315e;
    font: 700 14px "Roboto";
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#adiciona {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

h1 {
    font: 500 20px "Roboto";
    color: #34315e;
}

p {
    font: 400 14px "Roboto";
}
